.App {
  text-align: center;

  .theme {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    width: 100%;
    padding: 2em;
    display: flex;
    padding-top: 2em;
    justify-content: center;
    align-items: center;
  }
}
